@use "../assets/util/" as *;

body {
  overflow-x: hidden;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  animation: slide-in 300ms;
  @include respond-to("small") {
    margin-bottom: 0;
  }

  h1 {
    color: white;
    font-size: 15px;
    text-align: center;
    animation: letter_explode 2.5s forwards linear 200ms;
    @include respond-to("small") {
      font-size: 24px;
    }
  }

  img {
    width: 16%;
    animation: bounce-4 2.5s ease 2s;
    @include respond-to("small") {
      width: 8%;
    }
    @include respond-to("medium") {
      width: 6%;
    }
    @include respond-to("large") {
      width: 5%;
    }
  }

  button {
    border: none;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(131, 173, 208);
    font-weight: bold;
    font-size: 11px;

    @include respond-to("small") {
      font-size: 12px;
      height: 25px;
    }
  }
}

// Keyframe animation below

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes letter_explode {
  0% {
    letter-spacing: 0.1em;
    opacity: 1;
    left: 100px;
  }
  50% {
    letter-spacing: 0.5em;
    opacity: 0.4;
    left: 0px;
  }
  100% {
    letter-spacing: 0.1em;
    opacity: 1;
    left: 100px;
  }
}

@keyframes bounce-4 {
  from {
    transform: scale(1, 1) translateY(0);
  }
  to {
    transform: scale(0.9, 1.1) translateY(-500px);
  }
}
