@use "../assets/util/" as *;

.square {
  border: 8px solid rgb(10, 23, 62);
  background-color: #48698e;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 70%;
    animation: slide-in 700ms;

    @include respond-to("small") {
      width: 60%;
    }
    @include respond-to("medium") {
      width: 35%;
    }
  }
}

//Keyframe animations below

@keyframes slide-in {
  from {
    transform: translateY(105%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
