@use "../assets/util/" as *;

.square {
  border: 8px solid rgb(10, 23, 62);
  background-color: #48698e;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 70%;

    @include respond-to("small") {
      width: 60%;
    }
    @include respond-to("medium") {
      width: 35%;
    }
  }
}
