html,
body {
  height: 100%;
  background-color: rgb(10, 23, 62);
  box-sizing: border-box;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  background-image: url("./assets/images/tictactoe.svg");
  background-position: center;
  background-size: cover;
  z-index: 20;
}
